<ng-container *ngIf="louvor">
  <app-navbar [title]="louvor?.name" routerBack="/"></app-navbar>

  <app-container>
    <h1 id="topo-title">{{ louvor.name }}</h1>
    <div class="text-block" [id]="'louvor-' + i" [class.marcado]="i === last" [class.forte]="forte" *ngFor="let item of louvor.arr; let i = index;">
      <div [innerHTML]="item | nl2br"></div>
      <div>
        <button type="button" (click)="emitir(i)" class="btn-novo">
          <span>Emitir</span>
        </button>
      </div>
    </div>
  </app-container>
</ng-container>