<app-navbar routerBack="/"></app-navbar>

<app-container>
  <h1>Louvores</h1>
  <h2>Gerencie os louvores cadastrados.</h2>

  <div class="container-novo-search">
    <a class="btn-novo" (click)="newLouvor();">
      <span>Novo louvor</span>
      <app-icon-plus></app-icon-plus>
    </a>

  </div>

  <div class="lista">
    <div *ngIf="isLoading" class="item nenhum">
      <span class="txt nome">
        <p>
          Carregando...
        </p>
      </span>
    </div>
    <div *ngIf="!isLoading && (!louvores || louvores.length === 0)" class="item nenhum">
      <span class="txt nome">
        <p>
          Nenhum louvor encontrado
        </p>
      </span>
    </div>
    <div class="item" [class.contracted]="expanded !== louvor.id" [class.expanded]="expanded === louvor.id"
      *ngFor="let louvor of louvores; let i = index">
      <span class="txt nome" (click)="detail(louvor);">
        <p>{{ louvor?.name }}</p>
      </span>
      <span class="separator"></span>
      <span class="txt last-run" (click)="detail(louvor);">
      </span>
      <div>
        <a class="btn-abrir" [routerLink]="['..', louvor.id, 'show']">
          <span>Abrir</span>
        </a>
      </div>
      <div>
        <a class="btn-detalhe" (click)="detail(louvor);" [class.open]="expanded === louvor.id">
          <span>Detalhes</span>
          <app-icon-chevron></app-icon-chevron>
        </a>
      </div>
      <div>
        <a class="btn-trash" (click)="delete(louvor);">
          <app-icon-trash></app-icon-trash>
        </a>
      </div>
      <div class="content">
        <app-louvor-form-detail *ngIf="expanded === louvor.id"  [louvor]="louvor" (apply)="maintainLouvor($event)" (reload)="reload();">
        </app-louvor-form-detail>
      </div>
    </div>
  </div>
</app-container>