<a class="btn-close" (click)="dialogClose(null);">
  <app-icon-x></app-icon-x>
</a>
<h1 mat-dialog-title>Novo louvor</h1>

<form [formGroup]="louvorForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nome*" maxlength="40" trim="blur">
      <mat-error *ngIf="louvorForm.get('name').hasError('required')">
        Informe o nome do louvor
      </mat-error>
      <mat-error *ngIf="louvorForm.get('name').hasError('regex')">
        Por favor, digite apenas letras ou números
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Texto (Quebra com enter)</mat-label>
      <textarea matInput
                formControlName="text"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="8"></textarea>
      <mat-error *ngIf="louvorForm.get('text').hasError('required')">
        Informe o texto
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button [mat-dialog-close]="null" type="button">Cancelar</button>
    <button class="prefer" type="submit">Aplicar</button>
  </div>
</form>