<mat-toolbar color="primary">
  <a routerLink="/inicio" routerLinkActive="active" class="btn-page">
    Início
  </a>

  <a routerLink="/config" routerLinkActive="active" class="btn-page">
    Configurações
  </a>

  <a routerLink="/biblia" routerLinkActive="active" class="btn-page">
    Bíblia
  </a>

  <a routerLink="/louvor" routerLinkActive="active" class="btn-page">
    Louvores
  </a>

  <a routerLink="/texto" routerLinkActive="active" class="btn-page">
    Texto livre
  </a>
  
  <span class="fill-remaining-space"></span>

  <button type="button" (click)="limpar()" class="btn-novo">
    <span>Limpar</span>
  </button>
</mat-toolbar>