<form [formGroup]="louvorForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nome" required maxlength="40" trim="blur">
    <mat-error *ngIf="louvorForm.get('name').hasError('required')">
      Informe o nome do louvor
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Texto (Quebra com enter)</mat-label>
    <textarea matInput
              formControlName="text"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="8"></textarea>
    <mat-error *ngIf="louvorForm.get('text').hasError('required')">
      Informe o texto
    </mat-error>
  </mat-form-field>

  <div *ngIf="editing" class="row">
    <button class="btn cancel" type="button" (click)="cancel();">Cancelar</button>
    <button class="btn forte apply" type="submit">Aplicar</button>
  </div>

  <div *ngIf="!editing" class="row">
    <button class="btn edit" type="button" (click)="edit();">Editar</button>
  </div>

</form>