.btn-close{
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    float: right;
    margin-top: 0.53rem;

    app-icon-x{
        cursor: pointer;
    }
}

.dialog-titulo {
    font-size: 1.93rem;
    line-height: 1.27;
    letter-spacing: -1px;
    color: #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding-bottom: 2.288rem;
}

.texto{
    margin: 0;
    margin-top: 2.64rem;
    font-size: 1.4rem;
    line-height: 1.38;
    letter-spacing: -0.05em;
    color: #222222;
}

.hint{
    margin: 0;
    margin-top: 0.44rem;
    font-size: 1.4rem;
    line-height: 1.38;
    letter-spacing: -0.05em;
    color: #999999;
}

.textarea{
  width: 100%;
  margin-top: 24px;
}

.mat-dialog-actions {
    padding: 0;
    margin-bottom: 0;
    margin-top: 3.52rem;
    margin-left: -2.11rem;

    &.with-textarea{
      margin-top: 1.72rem;
    }

    button{
        font-size: 1.408rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: -0.025em;
        color: #368aae;
        padding: 1.32rem 3.96rem;
        border: 1px solid #368aae;
        background-color: #FFFFFF;
        cursor: pointer;
        margin-left: 2.11rem;
    
        &.prefer, &:focus{
          color: #ffffff;
          background-color: #368aae;
        }
    
        &:hover{
          color: #ffffff;
          background-color: #97c1d3;
          border: 1px solid #97c1d3;
        }
    }
}
