<app-navbar routerBack="/"></app-navbar>

<app-container>
  <h1>Projetos</h1>
  <h2>Gerencie os projetos cadastrados.</h2>

  <div class="container-novo-search">
    <a class="btn-novo" (click)="newProject();">
      <span>Novo projeto</span>
      <app-icon-plus></app-icon-plus>
    </a>

  </div>

  <div class="lista">
    <div *ngIf="isLoading" class="item nenhum">
      <span class="txt nome">
        <p>
          Carregando...
        </p>
      </span>
    </div>
    <div *ngIf="!isLoading && (!projects || projects.length === 0)" class="item nenhum">
      <span class="txt nome">
        <p>
          Nenhum projeto encontrado
        </p>
      </span>
    </div>
    <div class="item" [class.contracted]="expanded !== project.id" [class.expanded]="expanded === project.id"
      *ngFor="let project of projects; let i = index">
      <span class="txt nome" (click)="detail(project);">
        <p>{{ project?.name }}</p>
      </span>
      <span class="separator"></span>
      <span class="txt last-run" (click)="detail(project);">
        <p>{{ project?.lastRun | relativeTime }}</p>
      </span>
      <div>
        <a class="btn-detalhe" (click)="detail(project);" [class.open]="expanded === project.id">
          <span>Detalhes</span>
          <app-icon-chevron></app-icon-chevron>
        </a>
      </div>
      <div>
        <a class="btn-trash" (click)="delete(project);">
          <app-icon-trash></app-icon-trash>
        </a>
      </div>
      <div class="content">
        <app-project-form-detail *ngIf="expanded === project.id"  [project]="project" (apply)="maintainProject($event)" (reload)="reload();">
        </app-project-form-detail>
      </div>
    </div>
  </div>
</app-container>