<app-navbar (limpou)="fraco()" [title]="siglaLivro && capituloNum ? ( livro?.nome + ':' + capituloNum ) : ( versao ? versions[versao] : 'Bíblia' )" routerBack="/"></app-navbar>

<app-container>
  <h1 id="topo-title">Bíblia {{ siglaLivro ? versao.toUpperCase() : '' }}</h1>
  <ng-container *ngIf="!versao; else elseBlock">
    <h2>Selecione abaixo a versão.</h2>

    <div class="biblia-versions">
      <a *ngFor="let ver of versionsArr" [routerLink]="[ver.key]">{{ver.value}}</a>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <ng-container *ngIf="biblia$ | async as biblia">
      <h2>{{siglaLivro ? ( livro.nome + ( capituloNum ? ':' + capituloNum : '' ) ) : versions[versao]}}</h2>

      <div>
        <a class="voltar" [routerLink]="['..']">Voltar</a>
      </div>

      <div *ngIf="capitulo" class="versiculos">
        <ng-container *ngFor="let ver of capitulo.versiculos; let i = index;">
          <div [id]="'versiculo-' + i" [class.marcado]="i === last" [class.forte]="forte">
            <span>
              <sup>{{ ver.versiculo }}</sup>
              <span [innerHTML]="ver.texto"></span>
            </span>
            <button type="button" (click)="emitir(i)" class="btn-novo">
              <span>Emitir - {{ ver.versiculo }}</span>
            </button>
          </div>
        </ng-container>
      </div>

      <div *ngIf="livro" class="book-capitulos">
        <ng-container *ngFor="let cap of livro.capitulos">
          <span>
            <a [routerLink]="capLink(cap.capitulo)">{{cap.capitulo}}</a>
          </span>
        </ng-container>
      </div>

      <div class="biblia-books">
        <ng-container *ngFor="let livro of biblia">
          <ng-container *ngIf="livro.sigla === 'mt'">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
          </ng-container>
          <span>
            <a [routerLink]="bookLink(livro.sigla)">{{livro.nome}}</a>
          </span>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</app-container>