app-container {
  display: flex;
  margin-top: 4.2rem;
}

h1 {
  font-size: 5.632rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: -0.0469em;
  color: #222222;
  margin: 0;
  margin-left: 2.64rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2.112rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #787878;
  margin-left: 2.64rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;

  > span {
    font-weight: 600;
  }
}

.biblia-versions {
  margin-left: 2.64rem;

  a {
    display: block;
    text-decoration: none;
    padding: 5px 0;
  }
}

.biblia-books {
  margin-top: 15px;
  margin-left: 2.64rem;
  column-count: 5;

  span {
    display: block;
    a {
      text-decoration: none;
      padding: 5px 0;
    }
  }
}

.book-capitulos {
  margin-top: 15px;
  margin-left: 2.64rem;
  display: flex;
  flex-wrap: wrap;

  span {
    display: flex;
    flex: 0 0 5%;
    a {
      text-decoration: none;
      padding: 5px 0;
    }
  }
}

.versiculos {
  margin-top: 15px;
  margin-left: 2.64rem;

  div {
    padding: 1.2rem 1.8rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    &:nth-child(odd) {
      background-color: #c9c9c9;
    }

    sup {
      margin-right: 3px;
    }
  }
}

.btn-novo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #368aae;
  border: solid 1px #368aae;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #ffffff;
  padding: 0.668rem 1.2rem;
  margin-left: 2.8rem;
  white-space: nowrap;
  min-width: 110px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: #97c1d3;
  }
}

.voltar {
  display: block;
  text-decoration: none;
  margin-left: 2.64rem;
}
